<a href="https://colab.research.google.com/github/harikrishna10889/My-HackerRank-Codes/blob/master/Covid19_Bubble_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df=pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv')

In [ ]:
df.head(10)

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  14/12/2020  ...                                           9.013779
1  13/12/2020  ...                                           7.052776
2  12/12/2020  ...                                           6.868768
3  11/12/2020  ...                                           7.134266
4  10/12/2020  ...                                           6.968658
5  09/12/2020  ...                                           6.963401
6  08/12/2020  ...                                           7.094835
7  07/12/2020  ...                                           7.215755
8  06/12/2020  ...                                           7.326160
9  05/12/2020  ...                                           7.115865

[10 rows x 12 columns]

In [ ]:
df.tail(3)

          dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
61897  23/03/2020  ...                                                NaN
61898  22/03/2020  ...                                                NaN
61899  21/03/2020  ...                                                NaN

[3 rows x 12 columns]

In [ ]:
df.count()

date           61900
cases          61900
deaths         61900
country        61900
countrycode    61777
continent      61900
dtype: int64

In [ ]:
df=df[['dateRep','cases','deaths','countriesAndTerritories','countryterritoryCode','continentExp']]

In [ ]:
df.sample()

          dateRep  cases  ...  countryterritoryCode continentExp
10185  21/07/2020      0  ...                   CMR       Africa

[1 rows x 6 columns]

In [ ]:
#rename columns

df=df.rename(columns={'dateRep':'date', 'countriesAndTerritories':'country','countryterritoryCode':'countrycode','continentExp':'continent'})

In [ ]:
df.sample(10)

             date  cases  ...  countrycode continent
37701  04/09/2020      1  ...          MCO    Europe
61786  12/07/2020     40  ...          ZWE    Africa
11485  12/05/2020      0  ...          CAF    Africa
52527  18/10/2020      0  ...          SSD    Africa
33123  06/07/2020     44  ...          LSO    Africa
32498  02/07/2020      3  ...          LVA    Europe
52523  22/10/2020     23  ...          SSD    Africa
19063  06/08/2020    459  ...          ETH    Africa
31986  08/06/2020     25  ...          KGZ      Asia
1048   23/09/2020      0  ...          AND    Europe

[10 rows x 6 columns]

In [ ]:
#convert 'date' to date format

df['date']=pd.to_datetime(df['date'],format='%d/%m/%Y')

In [ ]:
df.sample(10)

            date  cases  deaths         country countrycode continent
14655 2020-04-11      0       0         Curaçao         CUW   America
56280 2020-07-02     11       0            Togo         TGO    Africa
60380 2020-06-15     74       1       Venezuela         VEN   America
50266 2020-05-29     30       0    Sierra_Leone         SLE    Africa
29074 2020-01-24      0       0          Israel         ISR      Asia
42706 2020-09-16    122       0          Norway         NOR    Europe
11196 2020-05-31      0       0  Cayman_Islands         CYM   America
4076  2020-09-06     90       5         Bahamas         BHS   America
9804  2020-08-30      0       0        Cambodia         KHM      Asia
21680 2020-07-20      0       0         Georgia         GEO    Europe

In [ ]:
#from datetime import datetime
#today=datetime.now().strftime('%Y-%m-%d')
#print(today)

2021-05-06

In [ ]:
#df_today=df[df.date==today]

In [ ]:
#df_today.count()

date           0
cases          0
deaths         0
country        0
countrycode    0
continent      0
dtype: int64

In [ ]:
#df['date'].max()

Timestamp('2020-12-14 00:00:00')

In [ ]:
#Lets create the bubble Map for '2020-12-14'
date='2020-12-14'
df_today=df[df.date==date]

In [ ]:
df_today.count()

date           212
cases          212
deaths         212
country        212
countrycode    211
continent      212
dtype: int64

In [ ]:
df_today.head(10)

           date  cases  deaths              country countrycode continent
0    2020-12-14    746       6          Afghanistan         AFG      Asia
340  2020-12-14    788      14              Albania         ALB    Europe
621  2020-12-14    464      12              Algeria         DZA    Africa
966  2020-12-14     50       1              Andorra         AND    Europe
1242 2020-12-14     27       5               Angola         AGO    Africa
1510 2020-12-14      0       0             Anguilla         AIA   America
1773 2020-12-14      0       0  Antigua_and_Barbuda         ATG   America
2043 2020-12-14   3558      98            Argentina         ARG   America
2326 2020-12-14    357      17              Armenia         ARM    Europe
2667 2020-12-14      5       0                Aruba         ABW   America

In [ ]:
import plotly.express as px

fig=px.scatter_geo(df_today,
                   locations='countrycode',
                   color='continent',
                   hover_name='country',
                   size='cases',
                   projection='natural earth',
                   title=f'World Covid-19 cases on 14th dec 2020'

                   )

In [ ]:
fig.show()